version: "3.9"
services:
  restic:
    container_name: Restic_Backup
    image: ghcr.io/niniyas/restic-rclone:amd64 | arm64 | armhf
    environment:
      - PUID=1000
      - PGID=1000
      - CRON=0 2 * * *
      - TINI_VERBOSITY=0
      - TZ=Europe/Brussels
      - NOTIFICATIONS=true
      - APPRISE_TITLE=Restic
      - RCLONE_SERVE_ARGS=-vvv
      - RESTIC_PASSWORD=supersecret
      - RCLONE_REMOTE_NAME=RemoteName
      - RCLONE_REMOTE_LOCATION=Backups
      - RESTIC_FORGET_ARGS=--keep-last 2 --prune
      - HEALTHCHECKS_HEADER_KEY=Proxy-Authorization
      - RESTIC_REPOSITORY=rest:http://0.0.0.0:8080/
      - RCLONE_CONFIG_LOCATION=/config/rclone/rclone.conf
      - HEALTHCHECKS_HEADER_VALUE=Basic asjbfaofbasdofnasfoianhsd
      - HEALTHCHECK=https://healthchecks.io/ping/abcde-fghijk-lmnopqrstuvwxyz
      - RESTIC_BACKUP_ARGS=--exclude /data/.cache --exclude /data/node_modules
      - APPRISE_BACKUP_ARGS=discord://1234567891000/hWPpxwdshdfhdfh3uf9NqBdasdasdasddsfhgdfh5iHWxZDxtUes0Mm/?format=markdown&avatar=No
      - APPRISE_FORGET_ARGS=discord://1234567891000/hWPpxwdshdfhdfh3uf9NqBdasdasdasddsfhgdfh5iHWxZDxtUes0Mm/?format=markdown&avatar=No
    volumes:
      - .logs:/logs # Optional. Required to see the logs.
      - /home/odin/:/data # Required. This is the backup directory.
      - /home/odin/.config/rclone/rclone.conf:/config/rclone/rclone.conf # Only if you are using rclone.
